main.fdb_latexmk
main.fls
main.fdb_latexmk
main.synctex.gz
main.toc
main.toc
main.out
main.aux
main.blg
main.fdb_latexmk
main.fls
main.lof
main.log
main.lol
main.lot
main.out
main.bbl
title1.aux
main.pdf
